{% from "macros.html" import show_all_flash_message, show_flash_message %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cantor</title>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            {% include "menu.html" %}
            {{ show_all_flash_message() }}

            <h1>
              {% block body_header %} {% endblock %}
            </h1>


            {% block body_content%} <HR> {% endblock %}
    </body>
</html>