{% from "macros.html" import show_flash %}
<!DOCTYPE html>
<html>
    <head>
        <title>Complain</title>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        {{ show_flash() }}

        {% for message in get_flashed_messages() %}
            <div> {{ message }} </div>
        {% endfor %}


        {% if priority_type.code=='high' %}
            <h1>Critical notification content</h1>
        {% elif priority_type.code=='medium' %}
            <h1>Important notification content</h1>
        {% else %}
             <h1>Notification content</h1>
        {% endif %}
        <ul>
            <li style="font-weight: bold;">Room number</li>
            <li>{{ room_number }}</li>
            <li style="font-weight: bold;">Guest name</li>
            <li>{{ guest_name }}</li>
            <li style="font-weight: bold;">Notification</li>
            <li>{{ notification_text }}</li>
        </ul>
    </body>
</html>
