{% extends "base.html" %}

{% block title %}
Homepage.
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col d-flex  justify-content-center h2">This is Pirate Cantor Homepage.</div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col"><img src="{{ url_for('static', filename='pirate-flag.png') }}" alt="Logo" width="300"
                              height="300" class="rounded mx-auto d-block">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-8 with-margin h6">Cantor Pirate &trade; registered in Luxembourg</div>
        <div class="col-4 with-,margin h6" style="text-align: right;"><p class="text-right">&copy; 2000</p></div>
    </div>
</div>
{% endblock %}